.footer {
    width: 100%;
    min-height: 50px;
    background-color: #242629;
    color: white;
    position: fixed !important;
    left: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    top: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Josefin Sans', sans-serif;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    /* opacity: 0.9; */
  }
.signUp {
    display: flex;
}
.signUpE {
    padding: 10px;
    font-size: 13px;
    font-weight: 400;
    border: 1px solid #ccc;
    margin-right: 5px;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.4s;
}
.signUpE:hover{
    background-color: transparent;
    color: white;
}
.signUpE > img {
    width: 18px;
    height: 18px;
    object-fit: cover;
    margin-top: -0.3em;
    margin-bottom: -0.3em;
    margin-right: 3px;
}
.email {
    background-color: #E3ECF4;
    color: black;
}
.google {
    background-color: #FFF;
    color: black;
}
.github {
    background-color: #2F3337;
    color: white;
}
.fb {
    background-color: #3E5697;
}